<div class="characteristic">
    {{> systems/rogue-trader/template/sheet/characteristics/name.hbs}}
    {{> systems/rogue-trader/template/sheet/characteristics/total.hbs}}
    {{> systems/rogue-trader/template/sheet/characteristics/information.hbs}}
</div>
